@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: black!important;
}

.title {
    font-family: "Oswald", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 350%;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-title {
    font-family: "Oswald", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-login {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

/*cabecera*/
.heading-link {
    transition: transform 0.3s ease;
}

.heading-link:hover {
    transform: scale(1.1);
}


/*pie de pagina*/
.footer {
    background-color: #DDA43B;
    font-family: "Montserrat", sans-serif;
} 

.footer-link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease;
}

.footer-link:hover {
    text-decoration-color: white;
}


.footer-img img {
    transition: transform 0.3s ease;
}
  
.footer-img img:hover {
    transform: scale(1.1);
}